@use '../variables';

@media (max-width: 1200px) {
    .aboutFlex {
        flex-direction: column;
            .aboutTextContainer {
                width: 100%;
            }
            .aboutImgContainer {
                width: 60%;
                align-self: center;
            }
    }
}

@media (max-width: 800px) {

    .about {
        margin: 10px 15px;
    }

    .aboutFlex {
        .aboutImgContainer {
            width: 100%;
        }
    }
}