@use '../variables';

@media (max-width: 1000px) {
    .navFlex {
        .navUl {
            gap: 5px;
                a {
                    font-size: 1rem;
                }
        }
    }
}

@media (max-width: 800px) {
    header {
        position: relative;
    }

    .hamburgerMenu {
        background-color: rgba(variables.$black, 0);
    }

    .navFlex {
        .navUl {
            display: none;
            flex-direction: column;
            align-self: center;
            width: 40%;
            height: 100vh;
            position: absolute;
            top: 62px;
            right: 0px;
            background-color: variables.$black;
            border-left: 1px solid rgba(variables.$white, 0.1);
        }
        
        .navUl.active {
            display: flex;
            justify-content: flex-start;
                li {
                   width: 100%; 
                        a {
                            display: block;
                            text-decoration: none;
                            align-items: center;
                            font-size: 1.4rem;
                            width: 100%;

                        }
                }
            
        }
    }

    .navFlex .hamburgerMenu {
        display: flex;
        justify-content: flex-end;
        align-self: center;
        border: none;
            .hamburgerIcon {
                align-items: center;
                font-size: 3rem;
                cursor: pointer;
                color: variables.$white;
            }
            .closeIcon {
                display: none;
                align-items: center;
                font-size: 3rem;
                cursor: pointer;
                color: variables.$white;
            }
            .hamburgerIcon.active {
                display: none;
            }
            .closeIcon.active {
                display: block;
            }
    }
}


@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    .toContact {
        &:hover .arrow {
            width: 20%;
        }
        .arrow {
            width: 10%;
        }
    }
}

@media (max-width: 430px) {
    h1 {
        font-size: 2rem;
    }

    .hero {
        p {
            font-size: 1rem;
        }
    }

    .navFlex {
        .navUl.active {
            display: flex;
            justify-content: flex-start;
                li {
                    width: 100%;
                    a {
                        font-size: 1rem;
                    }
                }
        }
    }
}

@media (max-width: 380px) {
    .toContact {
       .head,
       .arrow {
        display: none;
       }

       &:hover,
       &:focus {
        color: variables.$purpleOne;
       }
    }
}