@use '../variables';

@media (max-width: 1000px) {
    .projectContainer {
        flex-direction: column;
        align-items: center;
            .projectImgContainer {
                width: 100%;
            }
            .projectTextOverlay p{
                text-align: center;
            }
    }
}

@media (max-width: 600px) {
    .projectLinks {
        flex-direction: column;
    }
}