@use '../variables';

@media (max-width: 1000px) {
    .projectContainer {
        flex-direction: column;
        align-items: center;
    }
    .projectImgContainer {
        min-width: 400px;
        min-height: 300px;
    }
}

@media (max-width: 600px) {
    .projectLinks {
        flex-direction: column;
    }
}

@media (max-width: 530px) {
    .projectImgContainer {
        min-width: 200px;
        min-height: 100px;
        width: 100%;
    }
}

@media (max-width: 400) {
    .tools {

    }
}