@use '../variables';

.portfolio {
    background-color: variables.$lighterBlack;
    border-radius: 15px;
    margin: 25px 50px;
}

.portfolioUl {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.projectContainer {
    display: flex;
    padding: 30px;
    border-radius: 15px;
    background-color: variables.$lighterBlack;
    transition: box-shadow .7s ease-in-out;
    box-shadow: 0 0 0 variables.$purpleOne;
        &:hover,
        &:focus-within {   
            box-shadow: variables.$purpleOne 0px 0px 20px;
        }
}

.projectImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 15px;
        img {
            border-radius: 15px;
        }
}

.projectTextOverlay {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        h3 {
            text-align: center;
        }
        p {
            width: 70%;
            text-align: center;
        }
        .tools {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
                li {
                    width: fit-content;
                    padding: 10px
                }
        }
}

.projectLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

        .button {
                background-color: variables.$white;
                color: variables.$black;
                padding: 10px;
                border-radius: 30px;
                width: 200px;
                text-align: center;

                &:hover,
                &:focus {
                    color: variables.$white;
                    background-color: variables.$purpleOne;
                }
        }
}
