@use '../variables';

.portfolio {
    background-color: variables.$secondBackground;
}

.portfolioUl {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.projectContainer {
    display: flex;
    padding: 30px;
    background-color: variables.$secondBackground;
    transition: .7s ease-in-out;
    box-shadow: variables.$lightShade 5px 5px, 
                variables.$mediumShade 10px 10px, 
                variables.$darkShade 15px 15px;
        &:hover,
        &:focus {
            box-shadow: 
                variables.$lightShade 5px 5px,
                variables.$mediumShade 10px 10px,
                variables.$darkShade 15px 15px, 
                variables.$secondaryFontColour 15px 20px 20px;
        }
}

.projectImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.projectTextOverlay {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        h3 {
            text-align: center;
        }
        .tools {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
                li {
                    width: fit-content;
                    padding: 10px
                }
        }
}

.projectLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
        .button a {
            border: 3px solid variables.$secondaryFontColour;
                &:hover,
                &:focus {
                    background-color: variables.$secondBackground;
                }
        }
}
