@use '../variables';

.skillsUl {
    display: grid;
    grid-template-columns: repeat(5, 100px);
        .skill {
            width: fit-content;
            display: flex;
            justify-content: center;
        }
}