@use "./variables";

// Wrapper
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1920px;
}

.navWrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1920px;
}

section {
    padding: 100px 0 100px 0;
}

button {
    width: 200px;
    height: 60px;
    background-color: variables.$purpleOne;
    color: variables.$black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
        &:hover,
        &:focus {
            background-color: variables.$white;
        }
}

.button a{
    border: 3px solid variables.$secondaryFontColour;
    padding: 6px 20px 6px 20px;
    color: variables.$secondaryFontColour;
        &:hover,
        &:focus {
            background-color: variables.$linksFontColour;
        }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.sectionHeading {
    display: flex;
    gap: 30px;
}

#toTop {
    position: fixed;
    bottom: 16px;
    right: 25px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid variables.$baseFontColour;
    font-size: 25px;
    color: variables.$secondaryFontColour;
    text-decoration: none;
    display: none;
        span {
            font-size: 3rem;
        }
}

#toTop.active {
    display: flex;
    align-items: center;
    justify-content: center;
}