@use "./variables";

// Wrapper
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1920px;
}

.navWrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1920px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding-left: 0px;
}
