@use "./variables";

// Roboto Regular, Roboto Bold
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Inter Regular, Inter Bold
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Typography Styles
html {
    // 1rem = 20px
    font-size: 125%;
}

body {
    font-family: variables.$bodyFont;
    font-size: 1rem;
    color: variables.$baseFontColour;
}

h1,
h2,
h3,
h4,
a,
p {
    font-family: variables.$bodyFont;
    font-weight: normal;
}

i {
    display: flex;
    align-self: center;
}

.sectionHeading i  {
    font-size: 2rem;
}

button {
    font-weight: bold;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-weight: bold;
    color: variables.$secondaryFontColour;
    font-size: 2.5rem;
}

.projects h3 {
    text-align: center;
}

h3, h4 {
    font-weight: bold;
    font-size: 1.4rem;
}

.skill i {
    font-size: 5rem;
        &:hover,
        &:focus {
            color: variables.$secondaryFontColour;
        }
}


nav a {
    color: variables.$white;
        &:hover,
        &:focus {
            color: variables.$linksFontColour;
        }
}

.logo a {
    font-size: 1.8rem;
}

.navUl a {
    font-size: 1.3rem;
    padding: 10px;
}



.hero p {
    font-size: 1.5rem;
    font-weight: bold;
    color: variables.$secondBackground;
}

.heroTextContainer p,
.heroTextContainer span {
    color: variables.$secondaryFontColour;
}

.about p {
    font-weight: bold;
}

.highlight {
    color: variables.$secondaryFontColour;
}

.projectTextOverlay h3,
.projectTextOverlay p,
.tools {
    text-align: left;
    padding: 0px 15px 0px 15px;
    font-weight: bold;
}

.projectTextOverlay a {
    color: variables.$secondaryFontColour;
    font-weight: bold;
}

.projectLinks a {
    background-color: variables.$secondBackground;
    &:hover,
    &:focus {
        background-color: variables.$linksFontColour;
    }
}

.contactLinks a {
    color: variables.$baseFontColour;
    font-size: 3rem;
    padding: 10px;
        &:hover,
        &:focus {
            color: variables.$secondaryFontColour;
        }
}
.formContainer h3 {
    color: variables.$secondaryFontColour;
}

footer p {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}