// Colours!
$baseFontColour: #757BC8;
$secondaryFontColour: #D75D86;
$linksFontColour: #FFF398;
$mainBackground: #FFFFFF;
$secondBackground: #FAF5FF;
// #ff7dbe
// Box Shadow Colours (baseFontColour is one shade darker)
$darkShade: #8E94F2;
$mediumShade: #ADA7FF;
$lightShade: #CBB2FE;
$lighterShade: #DDBDFC;

// Font Families
$bodyFont: "Roboto";

// Font Size
$baseFontSize: 1rem;