@use '../variables';

// Header Styles
header {
    background-color: white;
}

.hero {
    height: 100vh;
        .heroFlex {
            display: flex;
            flex-direction: column;
            height: 100%;
            text-align: center;
            align-items: center;
            justify-content: flex-end;
            gap: 200px;
                .heroTextContainer {
                        h1, 
                        p {
                            color: #757BC8;
                            // text-shadow: -1px 1px 1px #AC07FF,
                            //               1px 1px 1px #AC07FF,
                            //               1px -1px 1px #AC07FF,
                            //              -1px -1px 1px #AC07FF;
                        //https: //www.geeksforgeeks.org/css-font-border/  
                        }
                }
        }
}

.toContact {
    border-right: 5px solid #757BC8;
    border-bottom: 5px solid #757BC8;
    border-top: 1px solid #757BC8;
    border-left: 1px solid #757BC8;
    box-shadow: #8E94F2 5px 5px, #ADA7FF 10px 10px, #CBB2FE 15px 15px;
        &:hover,
        &:focus {
            background-color: #FFEC51;
        }
}

.scrollToAbout {
    padding: 10px;
    border: none;
    margin-bottom: 1%;
    width: fit-content;
    height: fit-content;
        span {
            font-size: 4rem;
            font-weight: bold;
        }
}

#typewriter {

}

#cursor {
    color: #757BC8;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

