@use '../variables';

// Header Styles
header {
    background-color: #0B080B;
}

.hero {
    height: 100vh;
        .heroFlex {
            display: flex;
            flex-direction: column;
            height: 100%;
            text-align: center;
            align-items: center;
            justify-content: flex-end;
            gap: 200px;
                .heroTextContainer {
                    align-self: flex-start;
                    text-align: left;
                        h1 {
                            margin: 0px;
                        }
                }
        }
}

.scrollToAbout {
    padding: 10px;
    border: none;
    margin-bottom: 1%;
    width: fit-content;
    height: fit-content;
    background-color: variables.$black;
    color: variables.$white;
        span {
            font-size: 4rem;
            font-weight: bold;
        }
}

// Typewriter animation on header text
// https://www.youtube.com/watch?v=R846J8LJ6os
#cursor {
    color: variables.$baseFontColour;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

