@use '../variables';

// Nav Styles
// nav {
//     background-color: #7776BC;
// }

.navFlex {
    display: flex;
    justify-content: space-between;
        .navUl {
            display: flex;
            gap: 30px;
            align-items: center;
        }
}

// JS Scroll button to next section
.scrollDown {
    padding: 10px;
}

// JS Sticky Nav Bar on Scroll
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}