@use '../variables';

.about {
    background-color: variables.$lighterBlack;
    display: flex;
    align-items: center;
    // https: //stackoverflow.com/questions/24665602/scrollintoview-scrolls-just-too-far
    scroll-margin-top: 80px;
    border-radius: 15px;
    margin: 25px 50px;
}

.aboutFlex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
        .aboutTextContainer {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        .aboutImgContainer {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
                img {
                    box-shadow: variables.$lightShade 5px 5px, variables.$mediumShade 10px 10px, variables.$darkShade 15px 15px;
                }
        }
}

