@use '../variables';

.about {
    background-color: variables.$lighterBlack;
    display: flex;
    align-items: center;
    // https: //stackoverflow.com/questions/24665602/scrollintoview-scrolls-just-too-far
    scroll-margin-top: 80px;
    border-radius: 15px;
    margin: 25px 50px;
}

.aboutFlex {
    display: flex;
    gap: 30px;
        .aboutTextContainer {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        .aboutImgContainer {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            img {
                border-radius: 15px;
                border: 2px solid variables.$purpleOne;
                }
        }
}

