@use '../variables';

.about {
    // background-color: #FFFBDB;
    background-color: #F7EFFE;
    display: flex;
    align-items: center;
    // https: //stackoverflow.com/questions/24665602/scrollintoview-scrolls-just-too-far
    scroll-margin-top: 80px;
}

.aboutFlex {
    display: flex;
    justify-content: space-between;
}

.aboutTextContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutImgContainer {
    width: 30%;
}