@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Mulish:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 30;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

body {
  font-family: "Mulish";
  font-size: 1rem;
  color: #FEFEFE;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
button {
  font-family: "Mulish";
  font-weight: normal;
}

i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.sectionHeading i {
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  color: #FEFEFE;
  font-size: 2.5rem;
  margin-top: 0px;
}

.projects h3 {
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
}

h4 {
  text-align: center;
}

.skill i {
  font-size: 5rem;
}
.skill i:hover, .skill i:focus {
  color: #A393FE;
}

nav a {
  color: #FEFEFE;
}
nav a:hover, nav a:focus {
  color: #A393FE;
}

.logo a {
  font-size: 1.8rem;
}

.navUl a {
  font-size: 1.3rem;
  padding: 10px;
}

.hero p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #A393FE;
}

.about p,
.about h3 {
  margin: 10px 0px;
}

.highlight {
  color: #FEFEFE;
}

.projectTextOverlay h3,
.projectTextOverlay p,
.tools {
  text-align: left;
  padding: 0px 15px 0px 15px;
  font-weight: bold;
}

.projectTextOverlay a {
  color: #A393FE;
  font-weight: bold;
}

.projectLinks a {
  background-color: #FAF5FF;
}
.projectLinks a:hover, .projectLinks a:focus {
  background-color: #FFF398;
}

.contactLinks a {
  color: #FEFEFE;
  font-size: 3rem;
  padding: 10px;
}
.contactLinks a:hover, .contactLinks a:focus {
  color: #A393FE;
}

.formContainer h3 {
  color: #ff69b4;
}

footer p {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

body {
  background-color: #0B080B;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1920px;
}

.navWrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1920px;
}

section {
  padding: 75px 0px;
}

button {
  background-color: #0B080B;
  color: #FEFEFE;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.sectionHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

#toTop {
  position: fixed;
  bottom: 10px;
  right: 25px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #0B080B;
  background-color: #1E1E20;
  font-size: 25px;
  color: #A393FE;
  text-decoration: none;
  display: none;
}
#toTop span {
  font-size: 3rem;
}

#toTop.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#toTop.active:hover, #toTop.active:focus {
  -webkit-animation: bounce 1.5s ease infinite;
          animation: bounce 1.5s ease infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
header {
  background-color: #0B080B;
  border-radius: 15px;
  margin: 25px 50px;
}

.hero {
  height: 100vh;
}
.hero .heroFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 200px;
}
.hero .heroFlex .heroTextContainer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}
.hero .heroFlex .heroTextContainer h1 {
  margin: 0px;
}

.scrollToAbout {
  padding: 10px;
  border: none;
  margin-bottom: 1%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #0B080B;
  color: #FEFEFE;
}
.scrollToAbout:hover, .scrollToAbout:focus {
  background-color: #0B080B;
  -webkit-animation: bounce 1.5s ease infinite;
          animation: bounce 1.5s ease infinite;
}
.scrollToAbout span {
  font-size: 4rem;
  font-weight: bold;
}

#cursor {
  color: #FEFEFE;
  -webkit-animation: blink 0.6s linear infinite alternate;
          animation: blink 0.6s linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
.toContact {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  text-align: left;
}
.toContact:hover .arrow {
  width: 10%;
}
.toContact .arrow {
  width: 5%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 2rem 0 1rem;
  border: 1px solid #FEFEFE;
  position: relative;
  background: #FEFEFE;
}
.toContact .arrow .head,
.toContact .arrow .head:after {
  border: 1.5px solid #FEFEFE;
  border-radius: 2px;
  width: 8px;
  position: absolute;
  right: -5px;
  top: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.toContact .arrow .head:after {
  content: "";
  border-color: #ffffff;
  right: -5px;
  top: -5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

nav {
  background-color: rgba(11, 8, 11, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-bottom: 1px solid rgba(254, 254, 254, 0.1);
}

.navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navFlex .navUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburgerMenu {
  display: none;
}

.mainNav.active {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.about {
  background-color: #1E1E20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-margin-top: 80px;
  border-radius: 15px;
  margin: 25px 50px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.aboutFlex .aboutTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.aboutFlex .aboutImgContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}
.aboutFlex .aboutImgContainer img {
  border-radius: 15px;
  border: 2px solid #A393FE;
}

.skills {
  background-color: #1E1E20;
  border-radius: 15px;
  margin: 25px 50px;
}

.skillsUl {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 100px;
}
.skillsUl .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skillsUl .skill p {
  margin: 0 auto;
  text-align: center;
}

.portfolio {
  background-color: #1E1E20;
  border-radius: 15px;
  margin: 25px 50px;
}

.portfolioUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolioUl li {
  width: calc(50% - 50px);
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  background-color: #1E1E20;
  -webkit-transition: -webkit-box-shadow 0.7s ease-in-out;
  transition: -webkit-box-shadow 0.7s ease-in-out;
  transition: box-shadow 0.7s ease-in-out;
  transition: box-shadow 0.7s ease-in-out, -webkit-box-shadow 0.7s ease-in-out;
  -webkit-box-shadow: 0 0 0 #A393FE;
          box-shadow: 0 0 0 #A393FE;
}
.projectContainer:hover, .projectContainer:focus-within {
  -webkit-box-shadow: #A393FE 0px 0px 20px;
          box-shadow: #A393FE 0px 0px 20px;
}

.projectImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  max-width: 561px;
  max-height: 388px;
  overflow: hidden;
}
.projectImgContainer img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.projectTextOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projectTextOverlay h3,
.projectTextOverlay p {
  text-align: center;
}
.projectTextOverlay .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.projectTextOverlay .tools li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}

.projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.projectLinks .button {
  background-color: #FEFEFE;
  color: #0B080B;
  padding: 10px;
  border-radius: 30px;
  width: 100px;
  text-align: center;
}
.projectLinks .button:hover, .projectLinks .button:focus {
  color: #FEFEFE;
  background-color: #A393FE;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.contactInfo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 50px;
}

.formContainer {
  width: 80%;
  background-color: #1E1E20;
  padding: 30px;
  border-radius: 15px;
  -webkit-box-shadow: #A393FE 0px 0px 0px;
          box-shadow: #A393FE 0px 0px 0px;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
.formContainer:hover, .formContainer:focus-within {
  -webkit-box-shadow: #A393FE 0px 0px 20px;
          box-shadow: #A393FE 0px 0px 20px;
}
.formContainer h3 {
  margin-top: 0px;
  color: #A393FE;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}
form input {
  padding: 5px 0 5px 15px;
  border: 2px solid #A393FE;
  border-radius: 15px;
}
form textarea {
  resize: none;
  padding: 15px 0 0 15px;
  border: 2px solid #A393FE;
  border-radius: 15px;
}
form button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  color: #0B080B;
  background-color: #FEFEFE;
  font-weight: bold;
  border: 2px solid #A393FE;
}
form button:hover, form button:focus {
  background-color: #A393FE;
  color: #FEFEFE;
}

footer {
  background-color: #0B080B;
  padding: 10px;
  border-top: 1px solid rgba(254, 254, 254, 0.1);
}

@media (max-width: 800px) {
  section {
    padding: 50px 0px;
  }
}
@media (max-width: 630px) {
  #toTop.active {
    display: none;
  }
}
@media (max-width: 1000px) {
  .navFlex .navUl {
    gap: 5px;
  }
  .navFlex .navUl a {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  header {
    position: relative;
  }
  .hamburgerMenu {
    background-color: rgba(11, 8, 11, 0);
  }
  .navFlex .navUl {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 62px;
    right: 0px;
    background-color: #0B080B;
    border-left: 1px solid rgba(254, 254, 254, 0.1);
  }
  .navFlex .navUl.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navFlex .navUl.active li {
    width: 100%;
  }
  .navFlex .navUl.active li a {
    display: block;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4rem;
    width: 100%;
  }
  .navFlex .hamburgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: center;
        align-self: center;
    border: none;
  }
  .navFlex .hamburgerMenu .hamburgerIcon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3rem;
    cursor: pointer;
    color: #FEFEFE;
  }
  .navFlex .hamburgerMenu .closeIcon {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3rem;
    cursor: pointer;
    color: #FEFEFE;
  }
  .navFlex .hamburgerMenu .hamburgerIcon.active {
    display: none;
  }
  .navFlex .hamburgerMenu .closeIcon.active {
    display: block;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
  .toContact:hover .arrow {
    width: 20%;
  }
  .toContact .arrow {
    width: 10%;
  }
}
@media (max-width: 430px) {
  h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .navFlex .navUl.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navFlex .navUl.active li {
    width: 100%;
  }
  .navFlex .navUl.active li a {
    font-size: 1rem;
  }
}
@media (max-width: 380px) {
  .toContact .head,
  .toContact .arrow {
    display: none;
  }
  .toContact:hover, .toContact:focus {
    color: #A393FE;
  }
}
@media (max-width: 1200px) {
  .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutFlex .aboutTextContainer {
    width: 100%;
  }
  .aboutFlex .aboutImgContainer {
    width: 60%;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 800px) {
  .about {
    margin: 10px 15px;
  }
  .aboutFlex .aboutImgContainer {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .skills {
    margin: 10px 15px;
  }
  .skillsUl {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
  }
}
@media (max-width: 550px) {
  .skillsUl {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media (max-width: 400px) {
  .skill i {
    font-size: 3.5rem;
  }
}
@media (max-width: 1000px) {
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectContainer .projectImgContainer {
    width: 100%;
  }
  .projectContainer .projectTextOverlay p {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .projectLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 800px) {
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFlex .contactInfo {
    width: 100%;
  }
  .contactFlex .contactInfo .contactLinks {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
  }
  .contactFlex .contactInfo .contactLinks i {
    font-size: 2rem;
  }
  .contactFlex .formContainer {
    width: 100%;
  }
}