@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 30;
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto";
  font-size: 1rem;
  color: #000000;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: "Roboto";
  color: black;
  font-weight: normal;
}

i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: #7776BC;
}

.sectionHeading i {
  font-size: 2rem;
}

button {
  font-weight: bold;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  color: #757BC8;
}

h2 {
  font-weight: bold;
  color: #D75D86;
  font-size: 2.5rem;
}

.projects h3 {
  text-align: center;
}

h3, h4 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #757BC8;
}

.skill i {
  color: #757BC8;
  font-size: 5rem;
}
.skill i:hover, .skill i:focus {
  color: #D75D86;
}

nav a {
  color: white;
  font-weight: bold;
}
nav a:hover, nav a:focus {
  color: #FFF398;
}

.logo a {
  font-weight: bold;
  font-size: 1.8rem;
}

.navUl a {
  font-size: 1.3rem;
  padding: 10px;
}

.contactLinks a {
  color: #757BC8;
  font-size: 3rem;
  padding: 10px;
}

.hero p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.heroTextContainer p,
.heroTextContainer span {
  color: #D75D86;
}

.about p {
  color: #7776BC;
  font-weight: bold;
}

.highlight {
  color: #D75D86;
}

.projectTextOverlay h3,
.projectTextOverlay p,
.tools {
  color: #757BC8;
  text-align: left;
  padding: 0px 15px 0px 15px;
  font-weight: bold;
}

.projectTextOverlay a {
  color: #D75D86;
  font-weight: bold;
}

.projectLinks a {
  color: #7776BC;
  background-color: #FAF5FF;
}
.projectLinks a:hover, .projectLinks a:focus {
  background-color: #FFEC51;
}

footer p {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #757BC8;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1920px;
}

.navWrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1920px;
}

section {
  padding: 100px 0 100px 0;
}

button {
  width: 200px;
  height: 60px;
  border: 2px solid #D75D86;
  color: #D75D86;
  background-color: #FAF5FF;
  cursor: pointer;
}
button:hover, button:focus {
  background-color: #FFF398;
}

.toContact {
  color: #757BC8;
}

.button a {
  border: 3px solid #D75D86;
  padding: 6px 20px 6px 20px;
  color: #D75D86;
}
.button a:hover, .button a:focus {
  background-color: #FFF398;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.sectionHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

header {
  background-color: white;
}

.hero {
  height: 100vh;
}
.hero .heroFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 200px;
}

.toContact {
  border-right: 5px solid #757BC8;
  border-bottom: 5px solid #757BC8;
  border-top: 1px solid #757BC8;
  border-left: 1px solid #757BC8;
  -webkit-box-shadow: #8E94F2 5px 5px, #ADA7FF 10px 10px, #CBB2FE 15px 15px;
          box-shadow: #8E94F2 5px 5px, #ADA7FF 10px 10px, #CBB2FE 15px 15px;
}
.toContact:hover, .toContact:focus {
  background-color: #FFF398;
}

.scrollToAbout {
  padding: 10px;
  border: none;
  margin-bottom: 1%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.scrollToAbout:hover, .scrollToAbout:focus {
  background-color: white;
}
.scrollToAbout span {
  font-size: 4rem;
  font-weight: bold;
}

#cursor {
  color: #757BC8;
  -webkit-animation: blink 0.6s linear infinite alternate;
          animation: blink 0.6s linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
nav {
  background-color: #757BC8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navFlex .navUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainNav.active {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.about {
  background-color: #F7EFFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-margin-top: 80px;
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
.aboutFlex .aboutTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
.aboutFlex .aboutImgContainer {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutFlex .aboutImgContainer img {
  -webkit-box-shadow: #CBB2FE 5px 5px, #ADA7FF 10px 10px, #8E94F2 15px 15px;
          box-shadow: #CBB2FE 5px 5px, #ADA7FF 10px 10px, #8E94F2 15px 15px;
}

.skillsUl {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 100px;
}
.skillsUl .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio {
  background-color: #F7EFFE;
}

.portfolioUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  background-color: #FAF5FF;
  -webkit-box-shadow: #CBB2FE 5px 5px, #ADA7FF 10px 10px, #8E94F2 15px 15px;
          box-shadow: #CBB2FE 5px 5px, #ADA7FF 10px 10px, #8E94F2 15px 15px;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
.projectContainer:hover, .projectContainer:focus {
  -webkit-box-shadow: #CBB2FE 5px 5px, #ADA7FF 10px 10px, #8E94F2 15px 15px, 15px 20px 20px #D75D86;
          box-shadow: #CBB2FE 5px 5px, #ADA7FF 10px 10px, #8E94F2 15px 15px, 15px 20px 20px #D75D86;
}

.projectImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.projectTextOverlay {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projectTextOverlay h3 {
  text-align: center;
}
.projectTextOverlay .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.projectTextOverlay .tools li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}

.projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.projectLinks .button a {
  border: 3px solid #D75D86;
}
.projectLinks .button a:hover, .projectLinks .button a:focus {
  background-color: #FFF398;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.contactInfo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 50px;
}

.formContainer {
  background-color: #F7EFFE;
  border-right: 5px solid #DDBDFC;
  border-bottom: 5px solid #DDBDFC;
  border-top: 1px solid #DDBDFC;
  border-left: 1px solid #DDBDFC;
  -webkit-box-shadow: #CBB2FE 5px 5px, #ADA7FF 10px 10px, #8E94F2 15px 15px;
          box-shadow: #CBB2FE 5px 5px, #ADA7FF 10px 10px, #8E94F2 15px 15px;
  padding: 10px;
}
.formContainer h3 {
  margin-top: 0px;
}

.formContainer {
  width: 80%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
form input {
  padding: 5px 0 5px 15px;
  border: 2px solid #757BC8;
}
form textarea {
  resize: none;
  padding: 15px 0 0 15px;
  border: 2px solid #757BC8;
}

footer {
  background-color: #F7EFFE;
  padding: 10px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1200px) {
  .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutFlex .aboutTextContainer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .aboutFlex .aboutTextContainer h4 {
    text-align: center;
  }
  .aboutFlex .aboutImgContainer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 60%;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 800px) {
  .aboutFlex .aboutImgContainer {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .skillsUl {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
  }
}
@media (max-width: 550px) {
  .skillsUl {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media (max-width: 400px) {
  .skill i {
    font-size: 3.5rem;
  }
}
@media (max-width: 1000px) {
  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectContainer .projectImgContainer {
    width: 100%;
  }
  .projectContainer .projectTextOverlay p {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .projectLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 800px) {
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFlex .contactInfo {
    width: 100%;
  }
  .contactFlex .contactInfo .contactLinks {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
  }
  .contactFlex .contactInfo .contactLinks i {
    font-size: 2rem;
  }
  .contactFlex .formContainer {
    width: 100%;
  }
}