@use '../variables';

.contactFlex {
    display: flex;
    justify-content: space-between;
}

.contactInfo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactFlex {
    display: flex;
}

.contactLinks {
    display: flex;
    justify-content: space-around;
}