@use '../variables';

.contact {
    background-color: paleturquoise;
    scroll-margin-top: 80px;
}

.contactFlex {
    display: flex;
}

.mail {
    display: flex;
}

.contactLinks {
    display: flex;
    justify-content: space-around;
}