@use '../variables';

.formContainer {
    width: 80%;
    background-color: variables.$lighterBlack;
    padding: 30px;
    border-radius: 15px;
    box-shadow: variables.$purpleOne 0px 0px 0px;
    transition: .7s ease-in-out;
        &:hover,
        &:focus {
            box-shadow: variables.$purpleOne 0px 0px 20px;

        }
        h3 {
            margin-top: 0px;
            color: variables.$purpleOne;
        }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;    
        input {
            padding: 5px 0 5px 15px;
            border: 2px solid variables.$secondaryFontColour;
            border-radius: 15px;
        }
        textarea {
            resize: none;
            padding: 15px 0 0 15px;
            border: 2px solid variables.$secondaryFontColour;
            border-radius: 15px;
        }
}